body {
    padding-top: 60px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.table { width: 50%; }
.table-med { width: 75%; }
.table-lg { width: 100%; }
.table thead tr td { font-weight: bold; }

.observation-page-header { margin-top: 60px; font-size: 14pt; font-weight: bold; }
blockquote { border: 0; }
blockquote p { margin-bottom: 10px; font-size: 12pt; }
.table-observation-info { margin-top: 40px; }
.table-observation-info td { vertical-align: top; }
.table-observation-info td strong { display: block; margin-bottom: 10px; }
.table-observation-info .info-section span { display: block; font-weight: bold; }
.table-observation-legend { margin-top: 10px; }
.table-observation-legend td { padding: 1px; vertical-align: top; }
.table-observation-legend tr > td { padding-right: 4px; }
.table-observation-data { page-break-after: always; }
.table-observation-data .header td { font-weight: bold; text-align: center; vertical-align: top; }
.table-observation-data .subheader td { padding: 1px; text-align: center; }
.table-observation-data td { margin: 0; padding: 0; min-width: 0; min-height: 0; }
.table-observation-data td input { margin: 6px; }
.table-observation-data td.data-taken { min-width: 20px; min-height: 20px; }
.table-observation-data img.data-taken { width: 100%; height: 100%; }

.sidebar-nav-fixed { position: fixed; top: 100px; right: 10px; }

.observation-time-sidebar { text-align: center; }
.observation-time-sidebar strong { display: block; }
.observation-time-sidebar .observation-time { display: block; }
.observation-time-sidebar .observation-tick { display: block; margin-top: 15px; }
.observation-time-sidebar a { display: block; }

@media print {
    .navbar { display: none; }
}