body {
    padding-top: 60px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.table { width: 50%; }
.table-med { width: 75%; }
.table-lg { width: 100%; }
.table thead tr td { font-weight: bold; }

.observation-print-view .page-header { margin-top: 60px; font-size: 14pt; font-weight: bold; }
.observation-print-view blockquote { border: 0; }
.observation-print-view .table-print-info { margin-top: 40px; }
.observation-print-view .table-print-info td { vertical-align: top; }
.observation-print-view .table-print-info td strong { display: block; margin-bottom: 10px; }
.observation-print-view .table-print-info .info-section span { display: block; font-weight: bold; }
.observation-print-view .table-print-data { page-break-after: always; }
.observation-print-view .table-print-data .header td { font-weight: bold; text-align: center; }
.observation-print-view .table-print-data .subheader td { padding: 1px; text-align: center; }
.observation-print-view .table-print-data td { margin: 0; padding: 0; min-width: 0; min-height: 0; }
.observation-print-view .table-print-data td.data-taken { min-width: 20px; min-height: 20px; }
.observation-print-view .table-print-data img.data-taken { width: 100%; height: 100%; }

@media print {
    .navbar { display: none; }
}